<!DOCTYPE html>
<html lang="en">20250423
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input v-model="targetDt"><button @click="getMovie">조회</button>
    <table>
      <tr v-for="movie in movies">
        <td>{{movie.rank}}</td>
        <td>{{movie.movieNm}}</td>
        <td>{{movie.salesShare}}</td>
      </tr>
    </table>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    Vue.createApp({
      data(){
        return{
          targetDt : '20250423',
          movies : []
        }
      },
      methods : {
        getMovie() {
        fetch('http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=12664b24453335d2c3eca0fdc4b3b013&targetDt=' + this.targetDt)
        .then(response => response.json())
        .then(response => this.movies = response.boxOfficeResult.dailyBoxOfficeList)
        }
      },
      mounted() {
        this.getMovie();
      }
    }).mount("#app")

    fetch
  </script>
</body>
</html>